[user]
  email = max_struebing@gmx.de
  name = Max Strübing

[alias]
  p = push
  pm = push origin master
  a = add
  up = pull
  c = commit
  cm = commit -m
  d = diff
  co = checkout
  b = branch
  lg = log --oneline --decorate
  s = status
  branches = branch -a
  remotes = remote -v
  undo = reset --soft HEAD^
