[user]
  email = mxstrbng@gmail.com
  name = Max Strübing
  signingkey = 52D55A1D4E80A32D

[alias]
  p = push
  pm = push origin master
  a = add
  c = commit
  d = diff
  co = checkout
  b = branch
  lg = log --oneline --decorate
  s = status --branch --short
  branches = branch -a
  remotes = remote -v
  undo = reset --soft HEAD^
[core]
	excludesfile = ~/.gitignore
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[rebase]
	autoStash = true
[pull]
	rebase = true
[init]
	defaultBranch = main
