progress=false
init.author.name=Max Strübing
init.author.email=mxstrbng@gmail.com
init.author.url=https://github.com/mstruebing
init.license=MIT
//registry.npmjs.org/:_authToken=cf56be77-3f1d-4649-998d-37102b00ef94
//repo.sinnerschrader.com/repository/vwa-npm-group-1/:_authToken=NpmToken.c42efaeb-c8f0-3bcf-9a7a-842b4adcf806
