progress=false
init.author.name=Max Strübing
init.author.email=mxstrbng@gmail.com
init.author.url=https://github.com/mstruebing
init.license=MIT
//registry.npmjs.org/:_authToken=7dcc7b76-6acb-43e5-b38d-e5c8b2e463f3
