[Unit]
Description=Docker daemon

[Service]
User=root
ExecStart=/home/debian/.local/share/devbox/global/default/.devbox/nix/profile/default/bin/dockerd
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
