
# ls
alias 'ls'='ls -lh --color=auto'
alias 'll'='ls -ah --color=auto'

# cd aliases
alias '..'='cd ..'
alias '...'='cd ../..'
alias 'dl'='cd ~/Downloads'
alias 'p'='cd ~/projects'

# git aliases 
alias 'gco'='git commit'
alias 'gcom'='git commit -m'
alias 'gcheck'='git checkout'
alias 'gst'='git status'
alias 'gdiff'='git diff'
alias 'gadd'='git add'
alias 'gpush'='git push origin'
alias 'gpull'='git pull origin'
alias 'glog'='git log --oneline --decorate'

# misc
alias 'v'='vim'
alias 'clr'='clear && ls && pwd'
alias 'makepkg'='makepkg -sic'
