
# ls
alias 'ls'='ls -lh --color=auto'
alias 'll'='ls -ah --color=auto'

# cd aliases
alias '..'='cd ..'
alias '...'='cd ../..'
alias 'dl'='cd ~/Downloads'
alias 'p'='cd ~/projects'
alias 'docs'='cd ~/Documents'

# git aliases 
alias 'g'='git'

# misc
alias 'v'='vim'
alias 'clr'='clear && ls && pwd'
alias 'makepkg'='makepkg -sic'
alias 'online'='ping google.de'
alias 'prm'='. ~/.prm/prm/prm.sh'
