init-author-name=Max Strübing
init-author-email=mxstrbng@gmail-com
init-author-url=https://github-com/mstruebing
init-license=MIT
sign-git-commit=true
sign-git-tag=true
//registry.npmjs.org/:_authToken=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
access=public
